{% extends "layouts/app.layout.php" %} {% block content %}
<section id="why" class="text-center py-lg-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Send Complaints</h5>
                    <p class="card-text">Rectifiy any complaint you have whether with your results, name, matricule and others</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">See results</h5>
                    <p class="card-text">Get your updated results in time without moving a muscle</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Download timetable</h5>
                    <p class="card-text">Make sure to have the most up to date time table so that you can never miss a class on campus</p>
                </div>
            </div>
        </div>
    </div>
    <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor excepturi facilis vitae, eveniet beatae ipsum quae sint fuga inventore molestiae aliquam voluptates, voluptatum deserunt architecto tenetur enim rem! Sit, voluptate.</p>
    <div class="text-center">
        <button class="btn btn-primary">Get started now</button>
    </div>
</section>
{% endblock %}