{% extends "dashboard.layout.php" %} {% block content %}

<table class="table table-light">
    <table class="table table-light table-bordered table-responsive table-striped">
        <thead class="thead-success">
            <tr>
                <th>#</th>
                <th>Message</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {% for counter in range(1, 10) %}
            <tr>

                <td>{{ counter }}</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam quae exercitationem facere mollitia odio est error nesciunt numquam maxime, officia sed placeat corporis accusamus fugit qui ea, quas eligendi</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button class="btn btn-sm btn-success">read</button>
                        <button class="btn btn-sm btn-danger">delete</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</table>
{% endblock %}