{% extends "dashboard.layout.php" %} {% block content %}

<table class="table table-light">
    <table class="table table-light table-bordered table-responsive table-striped">
        <thead class="thead-success">
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>

                <td>{{ message.id }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.content }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button class="btn btn-sm btn-success">read</button>
                        <button class="btn btn-sm btn-danger">delete</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</table>
{% endblock %}